.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  font-size: 1rem;
}
nav.navbar ul li a {
  position: relative;
}
nav.navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.navbar ul li a:hover:after {
  width: 100%;
}
.nav-item {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  justify-content: space-around;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  width: 100%;
  font-weight: bold;
}
.link {
  text-decoration: none;
  color: white;
}

.nav-home {
  display: flex;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 20px 20px 20px 30px;
  justify-content: space-around;
  text-decoration: none;
  margin-right: auto;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
